@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-base;
  font-family: -apple-system, Fira Sans, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
}

.stop-white {
  stop-color: #fff;
}

.stop-blue-500 {
  stop-color: #3f8896;
}